.cards {
  margin-bottom: 10px;
}
.btn-paid {
  top: 704px;
left: 966px;
padding: 6.91px 13.82px 6.91px 13.82px;
gap: 13.82px;
border-radius: 8px 8px 8px 8px;
opacity: 0px;
background: #000000;
color: #fff;
font-size: 12.24px;
font-weight: 700;
line-height: 14.81px;
letter-spacing: normal;
width: 99px;
}
.border-row {
  border-bottom: 5px solid #F4F4F4;
}

.align-icon {
  vertical-align: bottom;
  margin-right: 0.5rem;
  cursor: pointer;
}
