<div class="container">
  <div class="row mt-5">
    <h3 class="title-section">Carrito de compra</h3>
  </div>
  <div class="row">
    <div class="col-8">
      <mat-card class="cards"><mat-icon class="align-icon" (click)="navigate('/layout/search')">arrow_circle_left</mat-icon>Seguir Comprando</mat-card>
      <app-items-cart *ngFor="let item of Cart" [item]="item" (delete)="refreshCart($event)" (refreshCart)="refreshCart($event)"></app-items-cart>
    </div>
    <div class="col-4">
      <app-summary [noOfItems]="noOfItems" [subTotal]="subTotal" [shipment]="shipment" [total]="total"></app-summary>
    </div>
  </div>
  <div class="row mt-5">
    <h3 class="title-section">Comprados juntos habitualmente</h3>
  </div>
  </div>
