<div class="container">
  <div class="row mt-5">
    <h3 class="title-section">Carrito de compra</h3>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <mat-card class="cards"><mat-icon class="align-icon" (click)="navigate('/layout/search')">arrow_circle_left</mat-icon>Seguir Comprando</mat-card>
      <app-items-cart *ngFor="let item of Cart" [item]="item" (delete)="refreshCart($event)" (refreshCart)="refreshCart($event)"></app-items-cart>
    </div>
    <div class="col-md-4 col-xs-12">
      <app-summary [noOfItems]="noOfItems" [subTotal]="subTotal" [shipment]="shipment" [total]="total"></app-summary>
    </div>
  </div>
  <div class="row mt-5">
    <h3 class="title-section">Comprados juntos habitualmente</h3>
  </div>
  <div class="row mt-5">
    <div class="col-md-3 col-xs-6" *ngFor="let row of together">
      <app-offer [offers]="row"></app-offer>
    </div>
    <div class="col text-center align-self-center">
      <h3 class="price-total">Precio Total</h3>
      <p class="price-total-together">$ 850.00 MXN</p>
      <button mat-button class="btn-together">Agregar al carrito</button>
    </div>
  </div>
  </div>
