<app-topnav [module]="'register'"></app-topnav>
<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h4 class="text-center title-register">Hola, te pedimos algunos datos para crear una cuenta de marca</h4>
      <hr>
    </div>
  </div>
  <div class="row">
    <mat-card>
      <mat-card-title class="title-card">Información de la empresa</mat-card-title>
      <mat-card-content>
        <app-form-register></app-form-register>
      </mat-card-content>
    </mat-card>
  </div>
</div>

