<div class="row justify-content-around">
  <div class="col">
    <img class="img-stores img-fluid" src="../../../../assets/img/store1.png" alt="">
  </div>
  <div class="col"><img class="img-stores img-fluid" src="../../../../assets/img/store2.png" alt=""></div>
  <div class="col"><img class="img-stores img-fluid" src="../../../../assets/img/store3.png" alt=""></div>
  <div class="col"><img class="img-stores img-fluid" src="../../../../assets/img/store4.png" alt=""></div>
  <div class="col"><img class="img-stores img-fluid" src="../../../../assets/img/store5.png" alt=""></div>
</div>
<div class="row">
  <img class="img-store-full img-fluid" src="../../../../assets/img/storefull.png" alt="">
</div>
