
<mat-card *ngIf="item">
  <div class="row">
    <div class="col">
      <img [src]="item.item.imagen" alt="" width="96" height="96">
    </div>
    <div class="col-md-4 col-xs-6">
      <p>{{ item.item.nombre }}</p>
      <p><button mat-button class="btn-delete-custom" (click)="deleteItem(item)">ELIMINAR</button><mat-icon fontSet="material-icons-outlined">favorite_outline</mat-icon></p>
    </div>
    <div class="col">
      <!-- <div class="col"> -->
        <button mat-button class="btn-add-remove" (click)="remove(item)">-</button><span class="span-number">{{ item.itemQunatity | number }}</span><button mat-button class="btn-add-remove" (click)="add(item)">+</button>
        <p>10 disponibles</p>
    </div>
    <div class="col">
      <p>{{ item.itemTotalPrice | currency: '':'symbol-narrow' }} MXN</p>
      <p>Sin cargo por envio</p>
    </div>
  </div>
</mat-card>
