
<mat-card>
  <div class="row">
    <div class="col">
      <img src="../../../../assets/img/1.png" alt="" width="96" height="96">
    </div>
    <div class="col">
      <p>VEMO Bujía de encendido Q+, calidad de primer equipo</p>
      <p><button mat-button class="btn-delete-custom">ELIMINAR</button><mat-icon fontSet="material-icons-outlined">favorite_outline</mat-icon></p>
    </div>
    <div class="col">
      <!-- <div class="col"> -->
        <button mat-button class="btn-add-remove">-</button><span class="span-number">1</span><button mat-button class="btn-add-remove">+</button>
        <p>10 disponibles</p>
    </div>
    <div class="col">
      <p>$ 250.00 MXN</p>
      <p>Sin cargo por envio</p>
    </div>
  </div>
</mat-card>

<mat-card>
  <div class="row">
    <div class="col">
      <img src="../../../../assets/img/1.png" alt="" width="96" height="96">
    </div>
    <div class="col">
      <p>VEMO Bujía de encendido Q+, calidad de primer equipo</p>
      <p><button mat-button class="btn-delete-custom">ELIMINAR</button><mat-icon fontSet="material-icons-outlined">favorite_outline</mat-icon></p>
    </div>
    <div class="col">
      <!-- <div class="col"> -->
        <button mat-button class="btn-add-remove">-</button><span class="span-number">1</span><button mat-button class="btn-add-remove">+</button>
        <p>10 disponibles</p>
    </div>
    <div class="col">
      <p>$ 250.00 MXN</p>
      <p>Sin cargo por envio</p>
    </div>
  </div>
</mat-card>


<mat-card>
  <div class="row">
    <div class="col">
      <img src="../../../../assets/img/1.png" alt="" width="96" height="96">
    </div>
    <div class="col">
      <p>VEMO Bujía de encendido Q+, calidad de primer equipo</p>
      <p><button mat-button class="btn-delete-custom">ELIMINAR</button><mat-icon fontSet="material-icons-outlined">favorite_outline</mat-icon></p>
    </div>
    <div class="col">
      <!-- <div class="col"> -->
        <button mat-button class="btn-add-remove">-</button><span class="span-number">1</span><button mat-button class="btn-add-remove">+</button>
        <p>10 disponibles</p>
    </div>
    <div class="col">
      <p>$ 250.00 MXN</p>
      <p>Sin cargo por envio</p>
    </div>
  </div>
</mat-card>
