<div class="container">
 <div class="row mt-4">
  <mat-icon class="align-icon" (click)="navigate('/layout/cart')">arrow_circle_left</mat-icon>
 </div>
 <div class="row mt-5">
  <h3 class="title-section">Termina tu compra</h3>
</div>
<div class="row">
  <div class="col-7">
    <div class="row mt-5">
      <mat-card>Contacto
        <form [formGroup]="form">
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="Correo electrónico" formControlName="email">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput placeholder="Teléfono" formControlName="phone">
            </mat-form-field>
          </div>
          Datos para entrega
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="name">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Apellido" formControlName="lastName">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Calle</mat-label>
                <input matInput placeholder="Calle" formControlName="street">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Número exterior</mat-label>
                <input matInput placeholder="Número exterior" formControlName="numberOutside">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Número interior</mat-label>
                <input matInput placeholder="Número interior" formControlName="numberInside">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Colonia</mat-label>
                <input matInput placeholder="Colonia" formControlName="colony">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Código postal</mat-label>
                <input matInput placeholder="Código postal" formControlName="zipCode">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Ciudad</mat-label>
                <input matInput placeholder="Ciudad" formControlName="city">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <mat-form-field class="inputform">
                <mat-label>Selecciona estado</mat-label>
                <mat-select formControlName="state">
                    <mat-option *ngFor="let row of statesData" [value]="row">
                        {{ row }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
          </div>
          </form>
      </mat-card>
    </div>
  </div>
  <div class="col-5">
    <div class="row mt-5" style="margin-left: 5px;">
      <app-summary [noOfItems]="noOfItems" [subTotal]="subTotal" [shipment]="shipment" [total]="total" [module]="'summary'"></app-summary>
    </div>

  </div>
</div>
<div class="row mt-5">
  <mat-card>Revisar articulos y envio</mat-card>
</div>
</div>
